/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.row {
    display: flex;
    margin: 10px 10px 10px 10px
}

.results {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    color: #4392d7;
}