/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.row {
    display: flex;
    margin: 10px 10px 10px 10px
}

.results {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    color: #77b4ea;
}

.spec-select {
    color: var(--body-color);
    background: var(--bg-tertiary);
    border-color: var(--bg-light);
}

input.rating-input {
    color: var(--body-emphasis);
    background-color: var(--bg-tertiary);
    border-color: var(--bg-light);
}

input.rating-input:focus {
    color: var(--body-emphasis);
     background-color: var(--bg-tertiary);
     border-color: var(--bg-light);
 }

input.rating-input::placeholder {
    color: var(--body-color);
    opacity: 1;
}

#calculator {
    width: 500px;
}