:root {
    --body-bg: #343a40;
    --body-color: #aab8c5;
    --body-emphasis: #dee2e6;
    
    --bg-secondary: #37404a;
    --bg-tertiary: #3a444e;
    --bg-light: #464f5b;
    
    --primary: #727cf5;
    --primary-hover: #6973e3;
    
    --danger: #fa5c7c;
    --danger-hover: #e75573;
    
    --success: #0acf97;
    --success-hover: #09bf8c;
    
    --btn-color: #fff;
    
    
    
    --font-family-sans-serif: "Nunito", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-size: 0.9em;
}

body {
    background: var(--body-bg);
    font-size: var(--font-size);
    font-family: var(--font-family-sans-serif);
    font-weight: 400;
}

.btn-check:checked+.btn-outline-primary{
    background-color: var(--primary);
    border-color: var(--primary-hover);
}

.btn-outline-primary {
    color: var(--btn-color);
    background-color: var(--bg-light);
    border-color: var(--primary-hover);
}

.btn-check:not(:checked)+.btn-outline-primary:hover {
    color: var(--btn-color) !important;
    background-color: var(--bg-light) !important;
    border-color: var(--primary-hover) !important;
}

.page-title {
    font-size: 1.5em;
    color: var(--body-color);
    padding-bottom: .7em;
}

img{
    width: inherit;
}

.class-icon {
    align-content: center;
    width:32px;
    margin-bottom: 10px;
}

.spec-icon {
    align-content: center;
    width:32px;
    margin-bottom: 10px;
}
.class-column {
    align-content: center;
    padding: 5px;
    margin: 0;
}

.border-line {
    border-bottom: 3px solid;
}

.border-dash {
    border-bottom: 3px dashed;
}

.border-dot {
    border-bottom: 3px dotted;
}

.border-dashdot {
    border-bottom: 1px dashed;
    margin-bottom: .9em;
}

.inactive {
    filter: grayscale(100%);
    border-bottom: 3px solid rgba(0,0,0,0);
}

.btn-outline {
    border: 1px solid #fff;
    background-color: #727cf5;
}