th {
    background-color: #464f5b;
    cursor: pointer;
    padding: 1em;
    z-index: 0;
}

th.ignore {
    cursor: default;
}

th>i {
    float: right;
    visibility: hidden;
}

th.highlight {
    background-color: var(--success);
    font-weight: 800;
    color: white;
}

th.highlight>i {
    visibility: visible;
    transition: .1s;
}

th[aria-sort="ascending"].highlight>i {
    transform: rotate(180deg);
}

.highlight {
    background-color: rgba(200, 200, 200, 0.04);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.02);
}

.table-striped {
    width: 100%;
}

td {
    padding: 0.75em;
}