.tier-list-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tier-list-title {
    text-align: center;
    color: white;
    font-size: 28px;
    padding-left: 1em;
    background: #6b0839;
    border-radius: 10px 10px 0px 0px;
}
.tier-list-column {
    padding: 2.5em;
}
.row-tier {
    text-align: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin: 5px;
}
.class-list {
    text-align: center;
    background: var(--body-bg);
    margin: 2px;
}
.tier-letter {
    color: whitesmoke;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.class-box {
    box-sizing: content-box;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    padding: 0;
    width: 40px;
    height: 40px;
}
.s-tier {
    background: #6b0839;
}
.a-tier {
    background: #eaa602;
}
.b-tier {
    background: #3b8b02;
}
.c-tier {
    background: #0b4bc0;
}
.d-tier {
    background: #324882;
}
.f-tier {
    background: #64317d;
}